<nav>
    
    <a href="/users/<%= current_user.username %>/types">My challenge types</a>
    <a href="/users/<%= current_user.username %>/challenges/new">Create new challenge</a>
    <a href="/users/<%= current_user.username %>">My account</a>
    <a href="/sessions/logout">LogOut</a>
    
</nav>
<header>
    <br>
    <h1>My <%= @type.name %> Challenges </h1>
</header>

<section>
    <ul>
        <% current_user.challenges.each do |challenge| %>
            <% if challenge.type = @type %>
                <li><a href="/users/<%= current_user.username %>/challenges/<%= challenge.id %>"><b style="color:#800000"><%= challenge.duration %> Day <%= challenge.name %> Challenge</b></a></li>
            <% end %>
          
        <% end %>
    </ul>
</section>

<footer>
        <small>&copy; 2020 <strong>SinatraGetFit</strong></small>
        <small><i>Vanessa Fotso </i><strong>Flatiron school</strong></small>
</footer> 