<div class="navbar">
    <ul>
        <li><a href="/users/<%= current_user.username %>/challenges/new">Create new challenge</a></li>
        <li> <a href="/users/<%= current_user.username %>">My account</a></li>
        <li><a href="/sessions/logout">LogOut</a></li>
    </ul>
</div>
<header>
<br>
    <h1>My Challenges' Types </h1>
</header>
<section>
    <% if @types.empty? %>
      <p>You have not created a challenge under any type yet. <a href="/users/<%= current_user.username %>/challenges/new"><b>Create new challenge</b></a></p>
    <% else %>
      <ul >
        <% @types.each do |type| %>
          <li>
            <a href="/users/<%= current_user.username %>/types/<%= type.id %>" style="color:brown" ><%= type.name%></a>
          </li>
        <% end %>
    </ul>
    <% end %>
    
</section>