<nav>
    
    <a href="/">Home</a>
    <a href="/sessions/logout">LogOut</a>
    
</nav>

<header>
<br>
    <h1>GetFit</h1><br>
    <h2><span id="greet"></span>, <%= @user.username %>!</h2>
</header>
<section>
    <div class="left" id="info">
        <h2><%= @user.username%></h2>
        <% if @user.dob %>
          <p>D.O.B: <%= @user.dob.strftime("%b %d, %Y")%></p>
        <% else %>
            <p>D.O.B: </p>
        <% end %>
        <p>Weight: <%= @user.weight%> lbs</p>
        <p>Email: <%= @user.email %></p>
    </div>
    <br>
    <div class="left">
        <ul>
            <li><a href="/users/<%= @user.username %>/challenges">My Challenges</a></li>
            <li><a href="/users/<%= @user.username %>/types">My Workout Types</a></li>
            <li><a href="/users/<%= @user.username %>/challenges/new">Create New Challenge</a></li>
        </ul>
    </div>
    <br>
</section>