<h1>New Challenge!</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color:red"><%= error %></p>
  <% end %>
<% end %>

<div>
<form action="/challenges" method="POST">
    <fieldset>
        <label for="challenge_name">Challenge Name: </label>
        <input type="text" name="challenge[name]" id="challenge_name" required>
    </fieldset>

    <fieldset>
        <h3>Type: </h3>
        <% @types.each do |type| %>
          <input type="radio" name="type" id="<%= type.name %>" value="<%= type.id %>" required>
          <label for="<%= type.name %>"><%= type.name %></label>
        <% end %>
    </fieldset>
    <fieldset>
        <label for="duration">Duration: </label>
        <input type="number" name="challenge[duration]" id="duration" required> day(s)
    </fieldset>

    <fieldset>
        <label for="start_date">Start Date: </label>
        <input type="date" name="challenge[start_date]" id="start_date" required>
    </fieldset>

    <fieldset>
        <label for="sets">Number of sets: </label>
        <input type="number" name="challenge[sets]" id="sets" required>
    </fieldset>
    <p>
        <label for="initial_rep">Initial Number of Reps: </label>
        <input type="number" name="reps" id="initial_rep" required>
        <label for="rep_increment">Increment number of reps by </label>
        <input type="number" name="rep_increment" id="rep_increment" required> daily <br>
    </p>
    
    <input type="submit" value="Create Challenge">

    
</form>
<div>
<a href="/users/<%= current_user.username %>">Cancel</a>
