<nav>
    
    <a href="/users/<%= current_user.username %>/challenges/new">Create new challenge</a>
    <a href="/users/<%= current_user.username %>">My account</a>
    <a href="/sessions/logout">LogOut</a>
    
</nav>
<header>
<br>
    <h1>My challenges </h1>
</header>
<section>
  <br>
    <b style="color: red;"><%= @faillure %></b>
    <b style="color: red;"><%= @message %></b>

    <% if @challenges.empty? %>
      <p>There is no challenge to display. <a href="/users/<%= current_user.username %>/challenges/new"><b>Create new challenge</b></a></p>
    <% else %>
      <ul >
        <% @challenges.each do |challenge| %>
          <li>
            <a href="/users/<%= current_user.username %>/challenges/<%= challenge.id %>" style="color:brown" ><%= challenge.duration %> Day <%= challenge.name%></a>
          </li>
        <% end %>
    </ul>
    <% end %>
    
</section>

<footer>
        <small>&copy; 2020 <strong>SinatraGetFit</strong></small>
        <small><i>Vanessa Fotso </i><strong>Flatiron school</strong></small>
</footer> 