<nav>
    
    <a href="/users/<%= current_user.username %>/challenges/new">Create new challenge</a>
    <a href="/users/<%= current_user.username %>">My account</a>
    <a href="/sessions/logout">LogOut</a>
    
</nav>

<header>
    <br>
    <p style="color:tomatoe"><%= @message %></p>
    <h1>Challenge Details </h1>
</header>

<section>
    <h3><%= @challenge.duration %> Day <%= @challenge.name.capitalize %> Challenge </h3>
    <br>
    <p><b>Start date: </b> <%= @challenge.start_date.strftime("%b %d, %Y") %></p>
    <p><b>End date: </b><%= @challenge.end_date.strftime("%b %d, %Y") %></p>
    <p><b>Number of Sets: </b><%= @challenge.sets %></p>
    <br>
    <h4>Number of reps per Day</h4>
    <% @challenge.days.each do |day| %>
      <p style="color:navy"><b><%= day.name %>: </b> <%= day.reps %> reps</p>
    <% end %>

    <div class="selection">
    
        <a href="/users/<%= @challenge.user.username %>/challenges/<%= @challenge.id %>/edit">Edit Challenge</a>
        <form action="/users/<%= @challenge.user.username %>/challenges/<%= @challenge.id%>" method="post" onsubmit = "return confirm('Are you sure you want to delete this challenge?');">
            <input type="hidden" name="_method" id="hidden" value="DELETE"/>
            <input type="submit" value="Delete This Challenge">
        </form> 
      
    </div>

</section>

<footer>
        <small>&copy; 2020 <strong>SinatraGetFit</strong></small>
        <small><i>Vanessa Fotso </i><strong>Flatiron school</strong></small>
</footer> 