<h1>Edit <%= @challenge.name %> challenge </h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color:red"><%= error %></p>
  <% end %>
<% end %>
<div>
<form action="/challenges/<%= @challenge.id %>" method="POST">
    
      <input type="hidden" name="_method" id="hidden" value="PATCH"/>

      <fieldset>
        <label for="duration">Duration: </label>
        <input type="number" name="challenge[duration]" id="duration" value="<%= @challenge.duration%>" required> day(s)<br>
      </fieldset>

      <fieldset>  
        <label for="sets">Number of Sets: </label>
        <input type="number" name="challenge[sets]" id="sets" value="<%= @challenge.sets %>" required><br>
      </fieldset>
      <p>
        <label for="initial_rep">Initial Number of Reps: </label>
        <input type="number" name="reps" id="initial_rep" value="<%= @challenge.days.first.reps %>" required>
        <label for="rep_increment">Increment number of reps by </label>
        <input type="number" name="rep_increment" id="rep_increment" required> daily <br>
      </p>
    
    <fieldset class="submission">
        <button type="button" id="cancelbtn"><a href="/users/<%= @challenge.user.username %>/challenges/<%= @challenge.id %>">Cancel</a></button>
        <button type="submit" id="signupbtn">Update</button>
    </fieldset>

</form>
</div>