<h1>Edit <%= @challenge.name %></h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color:red"><%= error %></p>
  <% end %>
<% end %>

<form action="/challenges/<%= @challenge.id %>" method="post">
    <div>
        <input type="hidden" name="_method" id="hidden" value="patch"/>

        <label for="challenge_name">Challenge Name: </label>
        <input type="text" name="challenge[name]" id="challenge_name" value="<%= @challenge.name %>" required><br>
        <h3>Type: </h3>
        <% @types.each do |type| %>
          <input type="radio" name="type" id="<%= type.name %>" value="<%= type.id %>" <%= 'checked' if @challenge.type == type %> >
          <label for="<%= type.name %>"><%= type.name %></label><br>
        <% end %>
        <p>
        <label for="duration">Duration: </label>
        <input type="number" name="challenge[duration]" id="duration" value="<%= @challenge.duration%>" required> day(s)<br>
        </p>
        <label for="start_date">Start Date: </label>
        <input type="date" name="challenge[start_date]" id="start_date" value="<%= @challenge.start_date %>" required><br><br>
        <label for="end_date">End Date: </label>
        <input type="date" name="challenge[end_date]" id="end_date" value="<%= @challenge.end_date %>" required><br><br>
        <label for="reps">Number of Repetion: </label>
        <input type="number" name="challenge[reps]" id="reps" value="<%= @challenge.reps %>" required><br><br>
        <p>
        <label for="initial_set">Initial Number of Sets: </label>
        <input type="number" name="sets" id="initial_set" required>
        <label for="set_increment">Increment number of sets by </label>
        <input type="number" name="set_increment" id="set_increment" required> daily <br>
        </p>
    </div>
    <div class="submission">
        <button type="button" id="cancelbtn"><a href="/challenges/<%= @challenge.id %>">Cancel</a></button>
        <button type="submit" id="signupbtn">Update</button>
    </div>
    </div>
</form>